* {
    text-decoration: none;
}

.container {
    display: flex;
}

main {
    width: 100%;
    padding: 20px;
}

.sidebar {
    background: white;
    color: #151515;
    width: 300px;
    height: 100vh;
    transition: all 0.5s;
    z-index: 1;
    border-right: solid;
    border-color: rgba(128, 128, 128, 0.349);
}

.top_section {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 15px;
    left: -53px;
}

.logo {
    font-size: 30px; 
}

.bars {
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}

.link {
    display: flex;
    color: #151515;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}

.link:hover {
    background: #ffeb65;
    color: #151515;
    transition: all 0.5s;
}

.active {
    background: #ffeb65;
    color: #151515;
}

.icon, .link_text {
    font-size: 20px;
}