.App-header {
  position: relative;
  height: 100%; 
  width: auto;
  background-image: url("Images/Background/Zacapa-background-4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Main-title {
  position: absolute;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  background-color: white;
  color: black;
  width: 100%;
  height: auto;
  font-size: 90%;
  border-bottom: solid;
  border-color: rgba(128, 128, 128, 0.349);
}

.Main-title h1 {
  margin: 1%;
}

.Main-title :hover {
  color: black;
}